html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color: #f2f3f5;
}

body {
}

header {
    background-color: #0b0b31;
}

main {

    background-color: #f2f3f5;
}

#logo {
    margin-left: 37px;
}

.heroImage {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.thirdRow img {
    width: 70%;
}

.smart {
    border-top: solid 2px #a9a9a9;
}

.strong {
    border-left: solid 2px #a9a9a9;
    border-right: solid 2px #a9a9a9;
    border-top: solid 2px #a9a9a9;
}

.stable {
    border-top: solid 2px #a9a9a9;
}

.heroButtons {
    text-align: center;
}